# DATABASE_URL=file:./dev.db
# TEST_DATABASE_URL=file:./.redwood/test.db
# PRISMA_HIDE_UPDATE_MESSAGE=true
# LOG_LEVEL=trace
# SESSION_SECRET=adrydjAGxay2qx6nkvz6b8UTpLu68fvomWatQZ2BxiHMbRqTaHNrrg5AGgonZAFa
